html {
    background: linear-gradient(45deg, rgb(49, 49, 237), rgb(227, 59, 59));
    min-height: 100%;
}


h1 {
    color: white;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

#first-currency, #second-currency {
    color: white;
    border: 3px dashed red;
    min-height: 100px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #first-currency {
    left: 50px;
}

#second-currency {
    left: 50px;

} */

.currencies {
    width: 5em;
}

#button {
    display: flex;
    justify-content: center;
    position: relative;
    top: 14em;
}

#num-input, #num-output {
    width: 150px;
    height: 25px;
}

/* @media screen and (max-width: 480px) {
    #first-currency, #second-currency {
        width: 1000px;
    }
} */

.directions{
    position: relative;
    top: 13px;
}