html {
    background: linear-gradient(45deg, rgb(49, 49, 237), rgb(227, 59, 59));
    background-repeat: no-repeat;
    height: 100%;
}

body {
    position: relative;
    height: 50%;
}

h1 {
    color: white;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

label[for=input], label[for=output] {
    display: flex;
    justify-content: flex-start;
} 

.wrapper, #calc-button {
    background: rgb(136, 128, 128);
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    right: 50%;
}

.wrapper {
    min-height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 150px;
    /* found this from a css youtube video and works pretty well to center the items */
    transform: translateX(-50%);
}

#calc-button {
    width: 100px;
    height: 25px;
    cursor: pointer;
    bottom: 53px;
    transform: translateX(-55%);
}

#first-currency, #second-currency {
    margin: 30px; 
    padding: 10;
    margin: 0 25px;
}

 #num-input, #num-output {
    width: 150px;
    height: 25px;
}

/* @media screen and (max-width: 480px) {
    #first-currency, #second-currency {
        width: 1000px;
    }
} */

